body {
    background: linear-gradient(to right, #88b4d8, #4682B4, #2d6696);
    color: black;
    font-family: "Roboto", sans-serif;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    justify-content: center;
    align-items: center;
}

.logo-image {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 250px;
    height: auto;
    margin-bottom: 0;
}

a {
    color: white;
}
.credits-container {
    width: 80%;
    max-width: 800px;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.credits {
    text-align: center;
    transform: translateY(100%);
    animation: scroll-credits 15s linear infinite;
    margin-top: 550px;
}

.credits h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.credits h2 {
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #ccc;
}

.credits p {
    font-size: 1.2em;
    margin: 5px 4%;
}

/* Keyframes para a animação */
@keyframes scroll-credits {
    0% {
        transform: translateY(0); /* Começa 100% abaixo (fora da tela) */
    }
    100% {
        transform: translateY(-260%); /* Termina 100% acima (fora da tela) */
    }
}