.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 600px; /* Defina a largura desejada */
    justify-content: center; /* Centraliza os itens verticalmente dentro do form */
    align-items: center;
}

.logo-image {
    display: block; /* Garante que a imagem se comporte como um bloco */
    margin: 0 auto 20px auto; /* Centraliza horizontalmente e adiciona margem inferior */
    max-width: 200px; /* Define o tamanho máximo da imagem */
    height: auto;     /* Mantém a proporção */
    margin-bottom: 0;
}

body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o form na tela */
    align-items: center; /* Centraliza verticalmente o form na tela */
    min-height: 100vh;
    margin: 0;
    background-color: #4682B4;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 10px;
    width: 300px; /* Defina a largura máxima desejada (ex: 80% do form) */
}

input[type="button"] {
    background-color: #708090;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 10px;
}

input[type="button"]:hover {
    background-color: #C0C0C0;
}

h2 {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    align-self: center; /* Centraliza o link horizontalmente dentro do form */
}

a:hover {
    color: #4F4F4F;
}