.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    background-image: url('/image/filme.png'); /* Caminho para a sua imagem */
    background-size: 85%; /* Cobrir todo o fundo do form */
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-position: center; /* Centralizar a imagem */
    height: 200px; /* Defina a altura desejada */
    width: 300px; /* Defina a largura desejada */
    justify-content: center; /* Centraliza os itens verticalmente dentro do form */
    align-items: stretch; /* Estica os itens horizontalmente (padrão para column) */
}

.logo-image {
    display: block; /* Garante que a imagem se comporte como um bloco */
    margin: 0 auto 20px auto; /* Centraliza horizontalmente e adiciona margem inferior */
    max-width: 200px; /* Define o tamanho máximo da imagem */
    height: auto;     /* Mantém a proporção */
}

body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o form na tela */
    align-items: center; /* Centraliza verticalmente o form na tela */
    min-height: 100vh;
    margin: 0;
    background-color: #4682B4;
}

input[type="text"],
input[type="password"],
input[type="button"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 10px;
    max-width: 80%; /* Defina a largura máxima desejada (ex: 80% do form) */
    align-self: center; /* Centraliza os elementos individualmente */
}

input[type="button"] {
    background-color: #708090;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #C0C0C0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    align-self: center; /* Centraliza o link horizontalmente dentro do form */
}

a:hover {
    color: #4F4F4F;
}